<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>User Authentication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" <!-- load fontawesome -->
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
    <script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
    <style>

        div.mdl-layout__title {
            padding-top: 40px;
            text-align: center;
        }
        div.mdl-textfield {
            margin: auto;
        }
        div.mdl-grid {
            padding-bottom: 0px;
            padding-top: 0px;
        }
        button.login-button {
            margin: auto;
            width: 300px;
        }
        span.message {
            color: #F44336;
        }
        p {
            margin: auto;
        }
    </style>
</head>
<body>
<div class="mdl-layout mdl-js-layout">


    <div class="mdl-layout__title">
        <span><h3>WELCOME TO</h3></span>
        <span><h2>IOT HUB</h2></span>
    </div>

    <main class="mdl-layout__content">
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="mdl-grid">
            <span class="message"><%= message %></span>
        </div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="mdl-grid">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="email" name="email">
                <label class="mdl-textfield__label" for="email">Email</label>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="password" name="password">
                <label class="mdl-textfield__label" for="password">Password</label>
            </div>
        </div>
        <div class="mdl-grid">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored login-button">
                Login
            </button>
        </div>
    </form>

        <div style="margin-top: 10px" class="mdl-grid">
            <p>Need an account?</p>
        </div>
        <div class="mdl-grid">
            <p><a href="/signup">Signup</a></p>
        </div>
    </main>
</div>
</body>
</html>